DERP_HOSTNAME=bs.de.933999.xyz
DERP_PORT=8443
DERP_BACKEND_PORT=8080
DERP_BIND_ADDRESS=127.0.0.1
STUN_PORT=3478
DERP_REGION_ID=901
DERP_REGION_CODE=de-bs
DERP_REGION_NAME='Germany BS'
TAILSCALE_VERSION=v1.98.9
